<!DOCTYPE HTML>
<html>
<head>
	<title>MY Web</title>
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/compiled-4.7.1.min.css" rel='stylesheet' type='text/css'/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
	/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->

<!---->

</head>
<body class="light-blue-skin">

  <!--Double navigation-->
  <header>
  
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
     
      <!-- Breadcrumb-->
      <div class="breadcrumb-dn mr-auto">
        <p>Welcome to your Dashborad</p>
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link"><i class="fas fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="far fa-comments"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li> -->
       
       
        <li class="nav-item">
            <a href="Dashboard.html" class="nav-link"><i class="fas fa-book"></i> <span class="clearfix d-none d-sm-inline-block">Article</span></a>
          </li>
          <li class="nav-item">
            <a href="Profile.html" class="nav-link"><i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
          </li>
          <li class="nav-item">
            <a href="index.html" class="nav-link"><i class="fas fa-home"></i> <span class="clearfix d-none d-sm-inline-block">Home</span></a>
          </li>
        
      </ul>
    </nav>
    <!-- /.Navbar -->
  </header>
  <!--/.Double navigation-->

  <!--Main Layout-->
  <main>
    <div class="container mt-6" style="color: whitesmoke">
      <h2>Advanced Double Navigation with fixed SideNav & fixed Navbar:</h2>
      <br>
      <h5>1. Fixed side menu, hidden on small devices.</h5>
      <h5>2. Fixed Navbar. It will always stay visible on the top, even when you scroll down.</h5>




      <section class="contact-section my-5">

        <!-- Form with header -->
        <div class="card" style="background-color: #f4f6fc ;color:black;">
          <h3 class="mt-5 text-center"><i class="fas fa-user pr-2"></i>My Profile:</h3>
<!-- 
      <div class="row"> -->
            <form>
        <!-- Grid column -->
        <div class="row">
        <div class="col-lg-7 p-5">
          <div class="card-body form">
                
            <!-- Header -->
            

            <!-- Grid row -->


              <!-- Grid column -->
              <div class="row">
              <div class="col-md-7 mx-auto mt-4">
                <div class="mb-0">
                        <label for="form-contact-name" class="">FirstName</label>
                  <input type="text"  class="form-control">

                </div>
              </div>

              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-7 mx-auto mt-4">
                <div class=" mb-0">
                        <label for="datepicker" class="">LastName</label>
                  <input type="text"  class="form-control">

                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-7 mx-auto  mt-4">
                  <div class="mb-0">
                          <label for="form-contact-name" class="">UserName</label>
                    <input type="text" class="form-control">
  
                  </div>
                </div>
                <div class="col-md-7  mx-auto mt-4">
                    <div class="mb-0">
                            <label for="form-contact-name" class="">Password</label>
                      <input type="text"  class="form-control">
    
                    </div>
                  </div>
                <div class="col-md-7 mx-auto  mt-4">
                <div class="form-group">
                    <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option1">
                  <span class="form-check-label ml-3"> Male </span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option2">
                  <span class="form-check-label  ml-3"> Female</span>
                </label>
            </div>
            </div>
            </div>
  
                <!-- Grid column -->
  
                <!-- Grid column -->
              


              <!-- Grid column -->

           

            <div class="row">

              <!-- Grid column -->
              <div class="col-md-7 mx-auto ">
                <div class=" mb-0">
                        <label for="form-contact-message">Phone</label>
                  <input name="Text" type="text"  class="form-control " />
                  
                
                </div>
               
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
        
        <!-- Grid row -->
       
       </div>
       <div class="col-lg-5" >
                
            <!-- <div class="col-md-12"> --> 
                    <div  class="file-field">
                            <div class="mb-4 mt-6  text-center">
                              <img  id="imgPreviewProduct"src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" style="width: 150px" class="rounded-circle z-depth-1-half avatar-pic"
                                alt="example placeholder avatar">
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                              <div id="button" class="btn  btn-rounded float-left z-depth-1a" >
                                <span>Add image</span>
                                <input  id="imageProduct"type="file">
                              </div>
                            </div>
                          </div>
                        
              </div>
       <div class="col-md-6 mx-auto">
            <div class="text-center mb-5">
                    <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
                  </div>
                </div>
      </div>
      <!-- Form with header -->
     
<!-- </div> --> 
</form>
<!-- </div> -->
</div>
    </section>
      



































      <div style="height: 2000px"></div>
    </div>
  </main>
  <!--Main Layout-->
<script src="javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="javascripts/popper.min.js" type="text/javascript"></script>
<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
<script src="javascripts/mdb.min.js" type="text/javascript"></script>
<script type="text/javascript" src="javascripts/move-top.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<!--/script-->
<script type="text/javascript">
$('#dtBasicExample').mdbEditor();
$('.dataTables_length').addClass('bs-select');
// SideNav Button Initialization
$(".button-collapse").sideNav();
// SideNav Scrollbar Initialization
var sideNavScrollbar = document.querySelector('.custom-scrollbar');
Ps.initialize(sideNavScrollbar);

			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</body>